@media (max-width:768px) {
  .promo {
    &__title {
      font-size: 2rem;
    }

    &__girl {
      display: none;
      top: 2rem;
      left: 24rem;
      width: 100%;
    }
    &__icons--block {
      display: none;
    }
  }

}