.program {
  position: relative;
  padding: 11rem 0rem 7rem 2rem;
  display: flex;
  justify-content: flex-end;

  &__block--grey {
    padding: 8rem 8rem 25rem 20rem;
    width: 66%;
    background-color: rgba($color: #1b1b1b, $alpha: 1.0);


  }

  &__text--grey {
    margin-left: 5rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem;
    /* 200% */
    letter-spacing: 0.03125rem;
  }

  &__block--grafity {
    width: 100%;
    position: absolute;
    top: 15rem;
    left: 9rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7.5rem;
    /* 100% */
    letter-spacing: -0.125rem;

  }


  &__link--grey {
    margin-top: 2rem;
    width:32%;
    margin-left: 5rem;
    padding: 1.5rem 2.69rem;
    border-radius: 0.625rem;
    background: #25AB75;


  }

  a {
    text-decoration: none;
    color: white;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 122.222% */
    letter-spacing: 0.0625rem;
  }

}