.program {
  position: relative;
  padding: 11rem 0rem 7rem 5rem;
  display: flex;
  justify-content: flex-end;

  &__block--grey {
    padding: 8rem 8rem 25rem 20rem;
    width: 66%;
    background-color: rgba($color: #1b1b1b, $alpha: 1.0);


  }

  &__text--grey {
    margin-left: 5rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem;
    /* 200% */
    letter-spacing: 0.03125rem;
  }

  &__block--grafity {
    width: 100%;
    position: absolute;
    left: 9rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7.5rem;
    /* 100% */
    letter-spacing: -0.125rem;

  }

}