.promo {
  padding: 6rem 4rem 4rem 3rem;
  width: 100%;





  a {
    text-decoration: none;
    color: white;
  }

  &__block {
    display: flex;
    align-items: center;
    min-width: 20.5625rem;
    gap: 1rem;

  }

  &__link {
    padding: 0.25rem 0.63rem;
    width: 2.875rem;
    height: 1.625rem;
    flex-shrink: 0;
    border-radius: 12.5rem;
    background: #25AB75;
    color: #FFF;
    font-family: Poppins;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    /* 180% */
    letter-spacing: 0.09375rem;
    text-transform: uppercase;

  }

  &__text--link {
    color: #FFF;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    /* 150% */
    letter-spacing: 0.03125rem;
    opacity: 0.8;
  }



  &__title {
    width: 100%;
    margin-top: 2.9rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 9.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 10.625rem;
    /* 85% */
    letter-spacing: -0.125rem;

  }

  &__girl {
    width: 100%;
    position: absolute;
    top: 8rem;
    left: 35rem;
    width: 35em;

    // object-fit:fill;
  }

  &__header {

    width: 100%;
    margin: 0 auto;
    // position: relative;
  }


  &__icons--block {
    width: 100%;
    display: grid;
    justify-content: right;
    align-items: end;
    grid-template-columns: 0.1fr;
    gap: 1.5rem;
    






  }

  &__item {

    padding: 1.25rem 1.88rem 2.35rem 1.88rem;
    border-radius: 1.25rem;
    background: rgba($color: #1e1a1ac4, $alpha: 5.0);

  }

  &__numbers--yellow {

    text-align: center;
    color: #FFE642;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.0625rem;

  }

  &__numbers--red {
    text-align: center;
    color: #FB1351;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.0625rem;
  }

  &__descr {
    margin-left: 0.5rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8125rem;
    letter-spacing: 0.0625rem;
  }


  &__footer--content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    gap: 1.88rem;

  }

  &__footer--descr {
    display: flex;
    width: 36em;
    grid-column: span 3;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8125rem;
    opacity: 0.5;
    /* 181.25% */
    letter-spacing: 0.03125rem;
  }

  .started {
    padding: 1.5rem 2.69rem;
    border-radius: 0.625rem;
    background: #25AB75;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 122.222% */
    letter-spacing: 0.0625rem;
  }

  .preview {

    padding: 1.5rem 3.81rem;
    margin-left: 2rem;
    position: relative;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 122.222% */
    letter-spacing: 0.0625rem;

    &::before {
      position: absolute;
      min-width: 100%;
      height: 100%;
      content: '';
      border-radius: 0.625rem;
      opacity: 0.1;
      background: #FFF;
      top: 0;
      left: 0;

    }
  }

}